<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-compass-utils-plugin" version="1.0.0">

    <name>Cordova Compass Utils Plugin</name>
    <description>Cordova community pass utils plugin</description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <platform name="android">
        <source-file src="src/android/org/apache/cordova/plugin/androidutils/CompassUtil.kt" target-dir="java/org/apache/cordova/plugin/androidutils/"/>

        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <feature name="CompassUtil">
              <param name="android-package" value="org.apache.cordova.plugin.androidutils.CompassUtil"/>
            </feature>
          </config-file>
    </platform>
</plugin>